#rodape {
  background-color: #1f2024;
  height: 130px;
  max-width: 100%;
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 3px;
}

.contato-rodape {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 15px;
  font-size: 1.5rem;
}

.ul-rodape {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 4px;
}

.contato-rodape a {
  cursor: pointer;
  color: palevioletred;
  text-decoration: none;
}

.link-rodape:hover {
  color: palevioletred;
}

.txt-rodape {
  font-size: 1rem;
}

/* ---------- @media 900 ----------*/

@media (max-width: 900px) {
  .contato-rodape {
    gap: 10px;
    font-size: 1.25rem;
  }

  .ul-rodape {
    gap: 5px;
    padding-top: 2px;
  }
}

/* ---------- @media 720 ----------*/

@media (max-width: 720px) {
  .contato-rodape p {
    text-align: center;
  }

  .txt-rodape {
    font-size: 0.875rem;
  }
}

/* ---------- @media 377 ----------*/

@media (max-width: 377px) {
  .ul-rodape {
    gap: 5px;
  }

  .txt-rodape {
    text-align: center;
  }
}