.section-galeria {
  scroll-margin-top: 80px;
}

.div-txt-galeria {
  display: block;
  width: 250px;
  color: white;
  text-align: center;
  margin: 0px auto 60px;
  padding-top: 80px;
  border-bottom: 3.5px solid palevioletred;
}

h2 {
  font-size: 60px;
  font-weight: normal;
}

.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fit, 333px);
  justify-content: center;
  gap: 5px;
  margin-bottom: 40px;
}

.div-img-galeria {
  width: 333px;
  height: 444px;
  overflow: hidden;
}

.div-img-galeria img:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}

/* ---------- @media 900 ----------*/

@media (max-width: 900px) {
  .galeria {
    gap: 10px;
  }
}

/* ---------- @media 750 ----------*/

@media (max-width: 750px) {
  #section-galeria {
    scroll-margin-top: 110px;
  }
}

/* ---------- @media 700 ----------*/

@media (max-width: 700px) {
  .galeria {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px;
  }

  .div-txt-galeria {
    width: 200px;
    padding-top: 50px;
  }

  .div-img-galeria {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

  .txt-galeria {
    font-size: 50px;
  }
}