#section-home {
  height: 700px;
  display: grid;
  grid-template-columns: 700px 450px;
  gap: 30px;
  place-content: center;
}

.div-home {
  display: grid;
  place-content: center;
  justify-items: center;
  gap: 20px;
  position: relative;
}

.txt-home {
  font-size: 1.375rem;
  line-height: 1.4;
}

.div-img-home {
  width: 450px;
  height: 340px;
  overflow: hidden;
}

.img-home:hover {
  transform: scale(1.05);
  transition: transform 0.4s;
}

.div-seta {
  position: absolute;
  color: white;
  cursor: pointer;
  animation: move 1.5s infinite ease-in-out;
  animation-delay: 2s;
  z-index: 1;
  top: 80%;
}

.seta {
  color: white;
}

@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 15px;
  }
  100% {
    margin-top: 0;
  }
}

/* ---------- @media 1230 ----------*/

@media (max-width: 1230px) {
  #section-home {
    grid-template-columns: auto 450px;
    gap: 15px;
    padding: 0px 20px;
  }

  .div-home {
    max-width: 80ch;
  }

  .txt-home {
    font-size: 1.25rem;
  }
}

/* ---------- @media 1030 ----------*/

@media (max-width: 1030px) {
  #section-home {
    grid-template-columns: auto auto;
  }

  .div-seta {
    top: 85%;
  }
}

/* ---------- @media 970 ----------*/

@media (max-width: 970px) {
  #section-home {
    margin-top: 150px;
    grid-template-columns: 750px;
    gap: 30px;
    scroll-margin-top: 150px;
  }

  .div-home {
    margin: auto;
    max-width: 75ch;
  }

  .div-img-home {
    margin: 50px auto;
  }

  .div-seta {
    top: 100%;
  }
}

/* ---------- @media 900 ----------*/

@media (max-width: 900px) {
  .div-home {
    max-width: 70ch;
  }

  .div-seta {
    top: 90%;
  }
}

/* ---------- @media 750 ----------*/

@media (max-width: 750px) {
  .div-home {
    margin: 120px auto 0px;
    max-width: 65ch;
  }

  .div-seta {
    top: 100%;
  }
}

/* ---------- @media 700 ----------*/

@media (max-width: 700px) {
  #section-home {
    height: auto;
    grid-template-columns: auto;
    padding: 0px 19px;
    align-content: center;
    margin: 80px auto 0px;
  }

  .div-img-home {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 50px auto;
  }
}